<table>
  <tbody>
  <tr>
    <th>Enable wiki navigational sidebar</th>
    <td>
      <%= check_box_tag "settings[enabled_sidebar]", '1', Setting.plugin_redmine_wiki_nav_sidebar["enabled_sidebar"] %>
    </td>
  </tr>
  </tbody>
</table>
