
<% if Setting.plugin_redmine_wiki_nav_sidebar["enabled_sidebar"] == '1' %>

$('body').append('<%= j render partial: 'styles' %>');

$('#main').prepend('<div id="left_sidebar"><h3>Page Versions<span class="main-collapser" style="font-size: 12px;font-weight: normal;margin-left: 18px;">Collapse/show all</span> </h3><div class="sidebar-wrapper"></div></div>');

$('#content').append('<div id="left-sidebarHandler"><div id="hideleftSidebarButton" onclick="hideLeftSideBar()" class=""></div></div>');


$('.sidebar-wrapper').append('<ul style="display:block;width:250px;"><%= j render template: 'wiki_tree/history.html.erb'%></ul>');




<% if cookies["left_sidebar_hide"] == "hide" %>
$(function() {
    hideLeftSideBar();
});
<% end %>

<% else %>



<% end %>