
<% if Setting.plugin_redmine_wiki_nav_sidebar["enabled_sidebar"] == '1' %>

$('body').append('<%= j render partial: 'styles' %>');

$('#main').prepend('<div id="left_sidebar"><h3>Wiki Pages<span class="main-collapser" style="font-size: 12px;font-weight: normal;margin-left: 18px;">Collapse/show all</span> </h3><div class="sidebar-wrapper"></div></div>');

$('#content').append('<div id="left-sidebarHandler"><div id="hideleftSidebarButton" onclick="hideLeftSideBar()" class=""></div></div>');

$('.sidebar-wrapper').append('<%= j render partial: 'page', collection: @pages, locals: {project_id: @project.id, title: @title}%>');




<% if cookies["left_sidebar_hide"] == "hide" %>
$(function() {
    hideLeftSideBar();
        });
<% end %>

<% else %>



<% end %>