

#left_sidebar h3 {
    font-size: 14px;
    margin-top: 14px;
}


#left_sidebar.sidebar_hidden {
    display: none;
}

.current_wiki_page{
    font-weight: bold;
}

#hideleftSidebarButton:hover {
    cursor: pointer;
}

#hideleftSidebarButton.sidebar_hidden {
    background-position: -7px 0;
}

.closed{
    height:0px;
    /*display:none;*/
}

.opened {
    display:block;
}


#hideleftSidebarButton {
    position: fixed;
    width: 7px;
    height: 23px;
    background-image: url("../images/buttons.png");
    background-position: 0 0;
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg)
}

#left-sidebarHandler{
    position: absolute;
    float: left;
    top: 50px;
    left: 0px;
    margin-top: 50px;
    margin-right: 7px;
    z-index: 11;
}



.nested-1 {
    margin-left:0px
}

.nested-2{
    margin-left:10px;
}

.nested-3 {
    margin-left:20px;
}

.nested-4 {
    margin-left:40px;
}

.nested-5 {
    margin-left:60px;
}